{% extends "base.twig" %}

{% block title %} Acteurs{% endblock %}

{% block content%}
<section>
{# <pre> #}
{# {{ dump(acteurs)}} #}
{% for acteur in acteurs %}
  <div class="acteurs">
 <h1> {{acteur.lastname}} {{acteur.firstname}} </h1>

  <a href="acteur/{{ acteur.id}}"><img   width='175px' height='250px' src="{{ acteur.photo }}" ></a>
   <a href="updateacteur/{{ acteur.id }}"> modifier </a>
    <a href="deleteacteur/{{ acteur.id }}"> supprimer </a>
</div>
{% endfor %}
</section>
{% endblock %}