{% extends "base.twig" %}

{% block title %} Acteur {% endblock %}

{% block content%}
<section>
  <div class="acteur">
 <h1> {{acteur.firstname}} {{acteur.lastname}} </h1>

<p>{{ acteur.id}}"><img max-width='200px' src="{{ acteur.photo }}" ></p>
<a href="updateacteur/{{ acteur.id }}"> modifier </a>
<a href="deleteacteur/{{ acteur.id }}"> supprimer </a>
</div>
</section>
{% endblock %}